* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; 
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  background-size: cover;
  background:#d3d3d3;
  
  background-repeat: no-repeat;
  min-height: 100vh;
}